# Base Style
BasedOnStyle: Google

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentPPDirectives: BeforeHash
AccessModifierOffset: -2
IndentWrappedFunctionNames: false

# Braces
AlwaysBreakTemplateDeclarations: 'Yes'
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterFunction: false
  AfterNamespace: false
  BeforeElse: false
  SplitEmptyFunction: false

# Column Limit
ColumnLimit: 170

# Alignments
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Function Declarations
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true

# Namespace
NamespaceIndentation: All
FixNamespaceComments: true

# Include Statements
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"(llvm|llvm-c|clang|clang-c)/'
    Priority: 2
    SortPriority: 2
    CaseSensitive: true
  - Regex: '^((<|")(gtest|gmock|isl|json)/)'
    Priority: 3
  - Regex: '<[[:alnum:].]+>'
    Priority: 4
  - Regex: '.*'
    Priority: 1
    SortPriority: 0

# Spaces
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false

# Line Breaks
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

# Comments
CommentPragmas: '^ IWYU pragma:'
ReflowComments: true
SpacesBeforeTrailingComments: 4

# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
